* {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
body {
    background: white !important;
}
.bg-container {
    background: url(/img/img-1.jpg) no-repeat top center;
    background-attachment: fixed;
    &-shadow {
        background: rgba(0,0,0,.6);
    }
}
.main-page {
    &-form {
        min-height: 350px;
        background: white;
        position: relative;
        border-radius: 4px;
    }
    &-content {
        display: grid;
        & > div {
            justify-self: center;
            align-self: center;
            color: white;
        }
        &-title {
            color: grey;
            font-size: 12px;
            text-transform: uppercase;
            &-header {
                font-size: 3.92857rem!important;
                font-weight: bold;
                line-height: 1.2;
            }
            &-desc {
                font-size: 1.28571rem!important;
                font-weight: bold;
            }
            &-content {
                font-size: 11px;
            }
            &-btn {
                width: 142px;
                height: 40px;
                font-size: 0.85714rem !important;
                font-weight: bold;
                text-transform: uppercase;
                border-radius: 4px;
                margin: 10px 0 0 0;
                border: none;
            }
        }
    }
}
.bg-services {
    &-title {
        text-align: center;
        margin: 60px auto 60px auto;
        padding: 0 0 10px 0;
        border-bottom: 5px solid black;
        display: table;
    }
}
.services-item {
    &-title {
        padding: 2.14286rem!important;
    }
    &-desc {
        color: grey;
    }
    &-cloud {
        position: absolute;
        margin: -105px 0 0 0;
        width: 100%;
    }
}
.bg-deliver {
    background: rgb(240,240,240);
    padding: 25px 0 25px 0;
    &-title {
        text-align: center;
        margin: 60px auto 30px auto;
        padding: 0 0 10px 0;
        border-bottom: 5px solid black;
        display: table;
    }
    &-desc {
        color: #999;
        margin: 20px auto 0 auto;
        max-width: 800px;
        text-align: center;
    }
    &-list {
        &-item {
            margin: 30px 0 0 0;
            height: 380px;
            background: grey;
            &-wallpaper {
                background: url(/img/i.png) no-repeat center;
                width: 100%;
                height: 100%;
            }
            &-wallpaper-1 {
                background: url(/img/i2.png) no-repeat center;
            }
            &-wallpaper-2 {
                background: url(/img/i3.png) no-repeat center;
            }
            &-wallpaper-3 {
                background: url(/img/i4.png) no-repeat center;
            }
            & > div {
                background-size: cover;
            }
            &-title {
                text-align: center;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 30px;
            }
        }
    }
}
.bg-characteristics {
    background: url(/img/img8.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    &-title {
        text-align: center;
        margin: 60px auto 10px auto;
        padding: 0 0 10px 0;
        display: table;
        color: white;
    }
    &-screen {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px 0 0 0;
    }
    &-desc {
        max-width: 450px;
        color: white;
        margin: 0 auto 0 auto;
        display: table;
    }
    &-list {
        margin: 50px 0 0 0;
        padding: 0 0 50px 0;
        color: white;
        &-item {
            color: white;
            padding: 0 20px 20px 20px;
            font-weight: bold;
            &-icon {
                width: 70px;
                height: 70px;
                margin: 0 auto 0 auto;
                font-size: 56px;
                transform: translate(0, -50%);
                text-align: center;
            }
            &-title {
                text-align: center;
            }
            &-desc {
                text-align: center;
                margin: 20px 0 0 0;
                font-weight: normal;
            }
        }
    }
}
.bg-contacts {

    &-list {
        &-item {
            margin: 25px;
            &-icon {
                display: table;
                margin: 0 auto 0 auto;
                text-align: center;
                font-size: 50px;
            }
            &-title {
                text-align: center;
                font-size: 20px;
                color: grey;
            }
            &-desc {
                font-size: 24px;
                text-align: center;
            }
        }
    }
}
.footer {
    background: rgba(0,0,0,0.8)!important;
    color: white;
    &-social {
        font-size: 24px;
    }
}
.services-description {
    color: grey;
    font-size: 12px;
}
.services-content-main {
    background-color: #333 !important;
    color: white;
    margin-bottom: 50px;
    &-item {
        padding: 25px;
        border-top: 1px solid black;
        display: grid;
        grid-gap: 20px;
        &-title {
            font-weight: bold;
        }
        &-body {
        }
    }
}
.spark-logo {
    width: 100%;
    position: relative;
    bottom: 0;
    overflow: hidden;
}
.cargo-phone {
    text-align: center;
    &-icon {
        font-size: 50px;
    }
    &-title {
        text-transform: uppercase;
        color: grey;
    }
    &-number {
        text-transform: uppercase;
        color: black;
        font-weight: bold;
    }
}

.contacts-item {
    background: #333;
    padding: 0 0 30px 0;
    color: white;
    height: 100%;
    &-screen {
        height: 145px;
    }
    &-screen-1 {
        background: url(/img/img9.jpg) no-repeat center;
        background-size: cover;
    }
    &-screen-2 {
        background: url(/img/img10.jpg) no-repeat center;
        background-size: cover;
    }
    &-screen-3 {
        background: url(/img/img11.jpg) no-repeat center;
        background-size: cover;
    }
    &-screen-4 {
        background: url(/img/img12.jpg) no-repeat center;
        background-size: cover;
    }
    &-icon {
        background: black;
        margin: -45px auto 20px auto;
        border-radius: 50px;
        text-align: center;
        width: 90px;
        height: 90px;
        font-size: 54px;
        color: white;
    }
    &-address {
        margin: 20px 0 0 0;
        text-align: center;
        background-color: rgba(81, 81, 81, 1);
        font-size: 12px;
        padding: 10px 0 10px 0;
    }
    &-btn {
        margin: 30px auto 0 auto;
        display: table;
        padding: 0 20px 0 20px;
        border: 2px solid white;
        height: 40px;
        background: transparent;
        color: white;
        font-weight: bold;
    }
    &-title {
        text-align: center;
        font-weight: bold;
    }
}

.social-network {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    &-icon {
        border-radius: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 20px;
        display: grid;
        justify-items: center;
        background-color: #eee;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            background: black;
            & > i {
                color: white;
            }
        }
        & > i {
            align-items: center;
            justify-items: center;
            display: grid;
        }
    }
}
@media (max-width: 750px) {
    .login-container {
        padding: 30px 0 30px 0 !important;
    }
}


