.error {

    &-form {
        &-message {
            margin: 30px auto 0 auto;
            display: table;
        }
    }
    &-input {
        background: #fcd5d5;
        box-shadow: 0 0 0 1px #ff7c7c inset;
    }
}
